ProxyJustificacionService/Service References/ProxyJustificacion/Justificantes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://aeseg.isciii.es" elementFormDefault="qualified" targetNamespace="http://aeseg.isciii.es" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aesegdes.isciiides.es/Services/Justificantes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ISCIII.AESEG.JustificationService" />
  <xs:element name="LoadJbs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ISCIII.AESEG.JustificationService" minOccurs="0" name="jbs" nillable="true" type="q1:JbsInterchageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadJbsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ISCIII.AESEG.JustificationService" minOccurs="0" name="LoadJbsResult" nillable="true" type="q2:LoadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadJpersonal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ISCIII.AESEG.JustificationService" minOccurs="0" name="jpersonal" nillable="true" type="q3:JpersonalInterchageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadJpersonalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ISCIII.AESEG.JustificationService" minOccurs="0" name="LoadJpersonalResult" nillable="true" type="q4:LoadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadJviajes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ISCIII.AESEG.JustificationService" minOccurs="0" name="jviaje" nillable="true" type="q5:JviajeInterchageModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadJviajesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ISCIII.AESEG.JustificationService" minOccurs="0" name="LoadJviajesResult" nillable="true" type="q6:LoadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>